<div class="bg-brand-primary h-9 flex items-center justify-between">
  <div class="flex space-x-1 items-center text-white ml-2 text-lg">
    <mat-icon class="material-icons-outlined">bolt</mat-icon>
    <span>{{ data.issue.code | translate}}</span>
  </div>
  <div>
    <button mat-icon-button matTooltip="{{'Close' | translate}}" (click)="cancel()">
      <mat-icon class="material-icons-outlined text-white">close</mat-icon>
    </button>
  </div>
</div>

<form [formGroup]="form" class="px-6 py-6" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="flex flex-col space-y-4">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'Recipient' | translate}}</mat-label>
        <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
               placeholder=""
               matInput
               [formControl]="recipientControl"
               [matAutocomplete]="recipient"
               spellcheck="false"
               required>
        <mat-autocomplete #recipient="matAutocomplete" [displayWith]="displayName">
          <mat-option *ngFor="let r of recipients$ | async" [value]="r">
            {{r.displayName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="recipientControl.hasError('required')">
          {{ 'Field required' | translate }}
        </mat-error>
        <mat-error *ngIf="recipientControl.hasError('incorrect')">
          {{ 'Invalid resource' | translate }}
        </mat-error>
      </mat-form-field>


      <div class="grid grid-cols-1 gap-2">
        <mat-form-field appearance="outline" *ngFor="let a of attributes">
          <mat-label>{{ a.name }}</mat-label>

          <input matInput *ngIf="a.dataTypeElement === 'input'" [formControl]="getFormControl(a.id)"  type="{{a.dataTypeInput}}" autocomplete="off" [required]="a.required" >

          <textarea matInput *ngIf="a.dataTypeElement === 'textarea'" [formControl]="getFormControl(a.id)" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" autocomplete="off" [required]="a.required"></textarea>

          <mat-select *ngIf="a.dataTypeElement === 'select'" [formControl]="getFormControl(a.id)" [required]="a.required">
            <mat-option *ngIf="!a.required"></mat-option>
            <mat-option *ngFor="let i of (observables[a.dataTypeName] | async)" [value]="i.id">
              {{ i.description | translate }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="getFormControl(a.id).hasError('required')">
            {{ 'Field required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- <ng-container *ngFor="let a of attributes">

      </ng-container> -->

      <mat-form-field appearance="outline">
        <mat-label>{{ 'Notes' | translate }}</mat-label>
        <textarea matInput rows="5" [formControl]="notesControl" cdkFocusInitial></textarea>
      </mat-form-field>
    </div>

    <div class="h-8 flex justify-center">
      <span class="text-red-700 font-bold text-lg">{{errorMessage | translate}}</span>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button> -->
    <button mat-raised-button type="submit" color="primary" [disabled]="isInvalid()">{{ data.command.commandName | translate }}</button>
  </mat-dialog-actions>
</form>


