<div class="bg-brand-primary h-9 flex items-center justify-between">
  <div class="flex space-x-1 items-center text-white ml-2 text-lg">
    <mat-icon class="material-icons-outlined">bolt</mat-icon>
    <span>{{ data.issue.code | translate}}</span>
  </div>
  <div>
    <!-- <button mat-icon-button mat-dialog-close matTooltip="{{'Close' | translate}}">
      <mat-icon class="material-icons-outlined text-white">close</mat-icon>
    </button> -->
    <mat-icon class="material-icons-outlined text-white cursor-pointer hover:bg-slate-500 mr-2 mt-[6px]" mat-dialog-close>close</mat-icon>
  </div>
</div>

<form [formGroup]="form" class="px-6 py-6" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="flex flex-col space-y-4">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'Notes' | translate }}</mat-label>
        <textarea matInput rows="5" [formControl]="notesControl" cdkFocusInitial></textarea>
      </mat-form-field>
    </div>

    <div class="h-8 flex justify-center">
      <span class="text-red-700 font-bold text-lg">{{errorMessage | translate}}</span>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button> -->
    <button mat-raised-button type="submit" color="primary" [disabled]="isInvalid()">{{ data.command.commandName | translate }}</button>
  </mat-dialog-actions>
</form>



