<mat-sidenav-container class="sidenav-container" [hasBackdrop]="backdrop" autosize>
  <mat-sidenav #sidenav [opened]="opened" [mode]="mode" class="bg-[#2C2C2C] border-0" [ngClass]="{'w-[216px]' : extended, 'w-[64px]' : !extended}">


    <div [ngClass]="{'ml-2': !extended, 'flex justify-between mx-2 items-center': extended}" class="mt-2">
      <img src="assets/enel-logo.png" alt="logo enel" class="ml-2 h-7 hidden sm:inline" *ngIf="extended">
      <button mat-icon-button (click)="toggle()" matTooltipDisabled="true" matTooltip="{{ (extended ? 'Collapse' : 'Expand') | translate}}" class="hover:bg-black">
        <mat-icon class="material-icons-outlined text-white">{{extended ? 'arrow_back_ios' : 'menu'}}</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="menu$ | async as menu; else loading">
      <mat-nav-list class="px-1 mt-4">
        <app-menu-list-item *ngFor="let item of menu" [expanded]="isExpanded(item)" [extended]="extended" [item]="item" (itemSelected)="onItemSelected($event)"></app-menu-list-item>
      </mat-nav-list>
    </ng-container>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate" class="mt-4" ></mat-progress-bar>
    </ng-template>

  </mat-sidenav>
  <mat-sidenav-content class="bg-white">
    <app-toolbar (toggle)="sidenav.toggle()" (logout)="logout.emit()" [opened]="sidenav.opened" [title]="title" [extended]="extended" [mobile]="mobile" [user]="user"></app-toolbar>
    <div class="default-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
