<h2 mat-dialog-title>{{ data.code }} - {{ data.name }}</h2>
<mat-dialog-content class="mat-typography">
  <p>{{ (data.issueCount === 0 ? 'Are you sure you want to permanently delete this system?' : 'Are you sure you want to disable this system?') | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'No' | translate }}</button>
  <button mat-raised-button [mat-dialog-close]="true" color="warn">{{ 'Yes' | translate }}</button>
</mat-dialog-actions>
